In [1]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/we-b/datasets_for_ai/master/titanic.csv')

In [2]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

問：読み込んだデータより、乗客の生存の有無を判定する分類モデルを作成してください。

ただし、今回適用する手法は、カリキュラムで学習した手法のうち、最低２つを選び、精度を比較するところまで終わらせてください。

具体的な手段としては、次のように進めましょう。

データの中身をご覧になっていただくと、一部欠損が含まれている箇所がございます。ですので、まずはこちらを除外していただく必要があります。欠損があるのは母親の年齢を表す「Age」, 乗船港を表す「Embarked」の二つです。ですのでまずはこれらのカラムの欠損値を除外してみましょう。

今回取り扱うデータには、一部データの形が数字ではない形式になってしまっているものがあります。ですので、まずはこちらを数字に直してください。

全てのデータを説明変数、目的変数に分けてください。

4.データをトレーニングデータ、テストデータに分けてください。

今回使用するモデルのライブラリを読み込みます。モデルはご自身で選択したものを読み込んでください。

5で読み込んだクラスをインスタンス化してください。

作成したモデルにトレーニングデータを読み込み、学習させてください。

テストデータに対する分類精度を求めてください。

In [3]:
# まずは欠損値を除外します。
# 年齢を表す「Age」には欠損が含まれているので、こちらを取り除きます。
df = df.dropna(subset=['Age'])

In [5]:
# 到着した港にも欠損値が存在します。次のコードを入力し、それを取り除きましょう。
df = df.dropna(subset=['Embarked'])

In [6]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
30,31,0,1,"Uruchurtu, Don. Manuel E",male,40.0,0,0,PC 17601,27.7208,NaN,C
33,34,0,2,"Wheadon, Mr. Edward H",male,66.0,0,0,C.A. 24579,10.5000,NaN,S
34,35,0,1,"Meyer, Mr. Edgar Joseph",male,28.0,1,0,PC 17604,82.1708,NaN,C
35,36,0,1,"Holverson, Mr. Alexander Oskar",male,42.0,1,0,113789,52.0000,NaN,S
37,38,0,3,"Cann, Mr. Ernest Charles",male,21.0,0,0,A./5. 2152,8.0500,NaN,S
38,39,0,3,"Vander Planke, Miss. Augusta Maria",female,18.0,2,0,345764,18.0000,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
856,857,1,1,"Wick, Mrs. George Dennick (Mary Hitchcock)",female,45.0,1,1,36928,164.8667,NaN,S
857,858,1,1,"Daly, Mr. Peter Denis",male,51.0,0,0,113055,26.5500,E17,S
858,859,1,3,"Baclini, Mrs. Solomon (Latifa Qurban)",female,24.0,0,3,2666,19.2583,NaN,C
860,861,0,3,"Hansen, Mr. Claus Peter",male,41.0,2,0,350026,14.1083,NaN,S
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [7]:
# 性別、港の種類は数値となっていないので、前処理を行うことで数値に変換します。
df['Sex'] = df['Sex'].replace('male','0').replace('female','1')

In [8]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,NaN,S
6,7,0,1,"McCarthy, Mr. Timothy J",0,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",0,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",1,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",1,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",1,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",1,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",0,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",0,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",1,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",1,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",0,2.0,4,1,382652,29.1250,NaN,Q
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",1,31.0,1,0,345763,18.0000,NaN,S
20,21,0,2,"Fynney, Mr. Joseph J",0,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",0,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",1,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",0,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",1,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",1,38.0,1,5,347077,31.3875,NaN,S
27,28,0,1,"Fortune, Mr. Charles Alexander",0,19.0,3,2,19950,263.0000,C23 C25 C27,S
30,31,0,1,"Uruchurtu, Don. Manuel E",0,40.0,0,0,PC 17601,27.7208,NaN,C
33,34,0,2,"Wheadon, Mr. Edward H",0,66.0,0,0,C.A. 24579,10.5000,NaN,S
34,35,0,1,"Meyer, Mr. Edgar Joseph",0,28.0,1,0,PC 17604,82.1708,NaN,C
35,36,0,1,"Holverson, Mr. Alexander Oskar",0,42.0,1,0,113789,52.0000,NaN,S
37,38,0,3,"Cann, Mr. Ernest Charles",0,21.0,0,0,A./5. 2152,8.0500,NaN,S
38,39,0,3,"Vander Planke, Miss. Augusta Maria",1,18.0,2,0,345764,18.0000,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
856,857,1,1,"Wick, Mrs. George Dennick (Mary Hitchcock)",1,45.0,1,1,36928,164.8667,NaN,S
857,858,1,1,"Daly, Mr. Peter Denis",0,51.0,0,0,113055,26.5500,E17,S
858,859,1,3,"Baclini, Mrs. Solomon (Latifa Qurban)",1,24.0,0,3,2666,19.2583,NaN,C
860,861,0,3,"Hansen, Mr. Claus Peter",0,41.0,2,0,350026,14.1083,NaN,S
861,862,0,2,"Giles, Mr. Frederick Edward",0,21.0,1,0,28134,11.5000,NaN,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",1,48.0,0,0,17466,25.9292,D17,S
864,865,0,2,"Gill, Mr. John William",0,24.0,0,0,233866,13.0000,NaN,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",1,42.0,0,0,236852,13.0000,NaN,S
866,867,1,2,"Duran y More, Miss. Asuncion",1,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",0,31.0,0,0,PC 17590,50.4958,A24,S
869,870,1,3,"Johnson, Master. Harold Theodor",0,4.0,1,1,347742,11.1333,NaN,S
870,871,0,3,"Balkic, Mr. Cerin",0,26.0,0,0,349248,7.8958,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",1,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",0,33.0,0,0,695,5.0000,B51 B53 B55,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",0,47.0,0,0,345765,9.0000,NaN,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",1,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",1,15.0,0,0,2667,7.2250,NaN,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",0,20.0,0,0,7534,9.8458,NaN,S
877,878,0,3,"Petroff, Mr. Nedelio",0,19.0,0,0,349212,7.8958,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",1,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",1,25.0,0,1,230433,26.0000,NaN,S
881,882,0,3,"Markun, Mr. Johann",0,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",1,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",0,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",0,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",1,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",0,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",1,19.0,0,0,112053,30.0000,B42,S
889,890,1,1,"Behr, Mr. Karl Howell",0,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",0,32.0,0,0,370376,7.7500,NaN,Q

In [10]:
# 見かけ上数値になっているように見えますが、
# まだ文字列の方のままです。ですので、浮動小数点数表示に変換します。


df['Sex'] = df['Sex'].astype(float)

In [11]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",0.0,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1.0,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",1.0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1.0,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",0.0,35.0,0,0,373450,8.0500,NaN,S
6,7,0,1,"McCarthy, Mr. Timothy J",0.0,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",0.0,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",1.0,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",1.0,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",1.0,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",1.0,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",0.0,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",0.0,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",1.0,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",1.0,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",0.0,2.0,4,1,382652,29.1250,NaN,Q
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",1.0,31.0,1,0,345763,18.0000,NaN,S
20,21,0,2,"Fynney, Mr. Joseph J",0.0,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",0.0,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",1.0,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",0.0,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",1.0,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",1.0,38.0,1,5,347077,31.3875,NaN,S
27,28,0,1,"Fortune, Mr. Charles Alexander",0.0,19.0,3,2,19950,263.0000,C23 C25 C27,S
30,31,0,1,"Uruchurtu, Don. Manuel E",0.0,40.0,0,0,PC 17601,27.7208,NaN,C
33,34,0,2,"Wheadon, Mr. Edward H",0.0,66.0,0,0,C.A. 24579,10.5000,NaN,S
34,35,0,1,"Meyer, Mr. Edgar Joseph",0.0,28.0,1,0,PC 17604,82.1708,NaN,C
35,36,0,1,"Holverson, Mr. Alexander Oskar",0.0,42.0,1,0,113789,52.0000,NaN,S
37,38,0,3,"Cann, Mr. Ernest Charles",0.0,21.0,0,0,A./5. 2152,8.0500,NaN,S
38,39,0,3,"Vander Planke, Miss. Augusta Maria",1.0,18.0,2,0,345764,18.0000,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
856,857,1,1,"Wick, Mrs. George Dennick (Mary Hitchcock)",1.0,45.0,1,1,36928,164.8667,NaN,S
857,858,1,1,"Daly, Mr. Peter Denis",0.0,51.0,0,0,113055,26.5500,E17,S
858,859,1,3,"Baclini, Mrs. Solomon (Latifa Qurban)",1.0,24.0,0,3,2666,19.2583,NaN,C
860,861,0,3,"Hansen, Mr. Claus Peter",0.0,41.0,2,0,350026,14.1083,NaN,S
861,862,0,2,"Giles, Mr. Frederick Edward",0.0,21.0,1,0,28134,11.5000,NaN,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",1.0,48.0,0,0,17466,25.9292,D17,S
864,865,0,2,"Gill, Mr. John William",0.0,24.0,0,0,233866,13.0000,NaN,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",1.0,42.0,0,0,236852,13.0000,NaN,S
866,867,1,2,"Duran y More, Miss. Asuncion",1.0,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",0.0,31.0,0,0,PC 17590,50.4958,A24,S
869,870,1,3,"Johnson, Master. Harold Theodor",0.0,4.0,1,1,347742,11.1333,NaN,S
870,871,0,3,"Balkic, Mr. Cerin",0.0,26.0,0,0,349248,7.8958,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",1.0,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",0.0,33.0,0,0,695,5.0000,B51 B53 B55,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",0.0,47.0,0,0,345765,9.0000,NaN,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",1.0,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",1.0,15.0,0,0,2667,7.2250,NaN,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",0.0,20.0,0,0,7534,9.8458,NaN,S
877,878,0,3,"Petroff, Mr. Nedelio",0.0,19.0,0,0,349212,7.8958,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",1.0,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",1.0,25.0,0,1,230433,26.0000,NaN,S
881,882,0,3,"Markun, Mr. Johann",0.0,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",1.0,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",0.0,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",0.0,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",1.0,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",0.0,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",1.0,19.0,0,0,112053,30.0000,B42,S
889,890,1,1,"Behr, Mr. Karl Howell",0.0,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",0.0,32.0,0,0,370376,7.7500,NaN,Q

In [12]:
df['Embarked'] = df['Embarked'].replace('C','0').replace('Q','1').replace('S','2')

In [13]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",0.0,22.0,1,0,A/5 21171,7.2500,NaN,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1.0,38.0,1,0,PC 17599,71.2833,C85,0
2,3,1,3,"Heikkinen, Miss. Laina",1.0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,2
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1.0,35.0,1,0,113803,53.1000,C123,2
4,5,0,3,"Allen, Mr. William Henry",0.0,35.0,0,0,373450,8.0500,NaN,2
6,7,0,1,"McCarthy, Mr. Timothy J",0.0,54.0,0,0,17463,51.8625,E46,2
7,8,0,3,"Palsson, Master. Gosta Leonard",0.0,2.0,3,1,349909,21.0750,NaN,2
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",1.0,27.0,0,2,347742,11.1333,NaN,2
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",1.0,14.0,1,0,237736,30.0708,NaN,0
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",1.0,4.0,1,1,PP 9549,16.7000,G6,2
11,12,1,1,"Bonnell, Miss. Elizabeth",1.0,58.0,0,0,113783,26.5500,C103,2
12,13,0,3,"Saundercock, Mr. William Henry",0.0,20.0,0,0,A/5. 2151,8.0500,NaN,2
13,14,0,3,"Andersson, Mr. Anders Johan",0.0,39.0,1,5,347082,31.2750,NaN,2
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",1.0,14.0,0,0,350406,7.8542,NaN,2
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",1.0,55.0,0,0,248706,16.0000,NaN,2
16,17,0,3,"Rice, Master. Eugene",0.0,2.0,4,1,382652,29.1250,NaN,1
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",1.0,31.0,1,0,345763,18.0000,NaN,2
20,21,0,2,"Fynney, Mr. Joseph J",0.0,35.0,0,0,239865,26.0000,NaN,2
21,22,1,2,"Beesley, Mr. Lawrence",0.0,34.0,0,0,248698,13.0000,D56,2
22,23,1,3,"McGowan, Miss. Anna ""Annie""",1.0,15.0,0,0,330923,8.0292,NaN,1
23,24,1,1,"Sloper, Mr. William Thompson",0.0,28.0,0,0,113788,35.5000,A6,2
24,25,0,3,"Palsson, Miss. Torborg Danira",1.0,8.0,3,1,349909,21.0750,NaN,2
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",1.0,38.0,1,5,347077,31.3875,NaN,2
27,28,0,1,"Fortune, Mr. Charles Alexander",0.0,19.0,3,2,19950,263.0000,C23 C25 C27,2
30,31,0,1,"Uruchurtu, Don. Manuel E",0.0,40.0,0,0,PC 17601,27.7208,NaN,0
33,34,0,2,"Wheadon, Mr. Edward H",0.0,66.0,0,0,C.A. 24579,10.5000,NaN,2
34,35,0,1,"Meyer, Mr. Edgar Joseph",0.0,28.0,1,0,PC 17604,82.1708,NaN,0
35,36,0,1,"Holverson, Mr. Alexander Oskar",0.0,42.0,1,0,113789,52.0000,NaN,2
37,38,0,3,"Cann, Mr. Ernest Charles",0.0,21.0,0,0,A./5. 2152,8.0500,NaN,2
38,39,0,3,"Vander Planke, Miss. Augusta Maria",1.0,18.0,2,0,345764,18.0000,NaN,2
...,...,...,...,...,...,...,...,...,...,...,...,...
856,857,1,1,"Wick, Mrs. George Dennick (Mary Hitchcock)",1.0,45.0,1,1,36928,164.8667,NaN,2
857,858,1,1,"Daly, Mr. Peter Denis",0.0,51.0,0,0,113055,26.5500,E17,2
858,859,1,3,"Baclini, Mrs. Solomon (Latifa Qurban)",1.0,24.0,0,3,2666,19.2583,NaN,0
860,861,0,3,"Hansen, Mr. Claus Peter",0.0,41.0,2,0,350026,14.1083,NaN,2
861,862,0,2,"Giles, Mr. Frederick Edward",0.0,21.0,1,0,28134,11.5000,NaN,2
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",1.0,48.0,0,0,17466,25.9292,D17,2
864,865,0,2,"Gill, Mr. John William",0.0,24.0,0,0,233866,13.0000,NaN,2
865,866,1,2,"Bystrom, Mrs. (Karolina)",1.0,42.0,0,0,236852,13.0000,NaN,2
866,867,1,2,"Duran y More, Miss. Asuncion",1.0,27.0,1,0,SC/PARIS 2149,13.8583,NaN,0
867,868,0,1,"Roebling, Mr. Washington Augustus II",0.0,31.0,0,0,PC 17590,50.4958,A24,2
869,870,1,3,"Johnson, Master. Harold Theodor",0.0,4.0,1,1,347742,11.1333,NaN,2
870,871,0,3,"Balkic, Mr. Cerin",0.0,26.0,0,0,349248,7.8958,NaN,2
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",1.0,47.0,1,1,11751,52.5542,D35,2
872,873,0,1,"Carlsson, Mr. Frans Olof",0.0,33.0,0,0,695,5.0000,B51 B53 B55,2
873,874,0,3,"Vander Cruyssen, Mr. Victor",0.0,47.0,0,0,345765,9.0000,NaN,2
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",1.0,28.0,1,0,P/PP 3381,24.0000,NaN,0
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",1.0,15.0,0,0,2667,7.2250,NaN,0
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",0.0,20.0,0,0,7534,9.8458,NaN,2
877,878,0,3,"Petroff, Mr. Nedelio",0.0,19.0,0,0,349212,7.8958,NaN,2
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",1.0,56.0,0,1,11767,83.1583,C50,0
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",1.0,25.0,0,1,230433,26.0000,NaN,2
881,882,0,3,"Markun, Mr. Johann",0.0,33.0,0,0,349257,7.8958,NaN,2
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",1.0,22.0,0,0,7552,10.5167,NaN,2
883,884,0,2,"Banfield, Mr. Frederick James",0.0,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,2
884,885,0,3,"Sutehall, Mr. Henry Jr",0.0,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,2
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",1.0,39.0,0,5,382652,29.1250,NaN,1
886,887,0,2,"Montvila, Rev. Juozas",0.0,27.0,0,0,211536,13.0000,NaN,2
887,888,1,1,"Graham, Miss. Margaret Edith",1.0,19.0,0,0,112053,30.0000,B42,2
889,890,1,1,"Behr, Mr. Karl Howell",0.0,26.0,0,0,111369,30.0000,C148,0
890,891,0,3,"Dooley, Mr. Patrick",0.0,32.0,0,0,370376,7.7500,NaN,1

In [14]:
df['Embarked'] = df['Embarked'].astype(float)

In [15]:
# Pclass, SibSp, Parchを浮動小数点数表示に変換します。

df['Pclass'] = df['Pclass'].astype(float)
df['SibSp'] = df['SibSp'].astype(float)
df['Parch'] = df['Parch'].astype(float)

In [16]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3.0,"Braund, Mr. Owen Harris",0.0,22.0,1.0,0.0,A/5 21171,7.2500,NaN,2.0
1,2,1,1.0,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1.0,38.0,1.0,0.0,PC 17599,71.2833,C85,0.0
2,3,1,3.0,"Heikkinen, Miss. Laina",1.0,26.0,0.0,0.0,STON/O2. 3101282,7.9250,NaN,2.0
3,4,1,1.0,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1.0,35.0,1.0,0.0,113803,53.1000,C123,2.0
4,5,0,3.0,"Allen, Mr. William Henry",0.0,35.0,0.0,0.0,373450,8.0500,NaN,2.0
6,7,0,1.0,"McCarthy, Mr. Timothy J",0.0,54.0,0.0,0.0,17463,51.8625,E46,2.0
7,8,0,3.0,"Palsson, Master. Gosta Leonard",0.0,2.0,3.0,1.0,349909,21.0750,NaN,2.0
8,9,1,3.0,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",1.0,27.0,0.0,2.0,347742,11.1333,NaN,2.0
9,10,1,2.0,"Nasser, Mrs. Nicholas (Adele Achem)",1.0,14.0,1.0,0.0,237736,30.0708,NaN,0.0
10,11,1,3.0,"Sandstrom, Miss. Marguerite Rut",1.0,4.0,1.0,1.0,PP 9549,16.7000,G6,2.0
11,12,1,1.0,"Bonnell, Miss. Elizabeth",1.0,58.0,0.0,0.0,113783,26.5500,C103,2.0
12,13,0,3.0,"Saundercock, Mr. William Henry",0.0,20.0,0.0,0.0,A/5. 2151,8.0500,NaN,2.0
13,14,0,3.0,"Andersson, Mr. Anders Johan",0.0,39.0,1.0,5.0,347082,31.2750,NaN,2.0
14,15,0,3.0,"Vestrom, Miss. Hulda Amanda Adolfina",1.0,14.0,0.0,0.0,350406,7.8542,NaN,2.0
15,16,1,2.0,"Hewlett, Mrs. (Mary D Kingcome)",1.0,55.0,0.0,0.0,248706,16.0000,NaN,2.0
16,17,0,3.0,"Rice, Master. Eugene",0.0,2.0,4.0,1.0,382652,29.1250,NaN,1.0
18,19,0,3.0,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",1.0,31.0,1.0,0.0,345763,18.0000,NaN,2.0
20,21,0,2.0,"Fynney, Mr. Joseph J",0.0,35.0,0.0,0.0,239865,26.0000,NaN,2.0
21,22,1,2.0,"Beesley, Mr. Lawrence",0.0,34.0,0.0,0.0,248698,13.0000,D56,2.0
22,23,1,3.0,"McGowan, Miss. Anna ""Annie""",1.0,15.0,0.0,0.0,330923,8.0292,NaN,1.0
23,24,1,1.0,"Sloper, Mr. William Thompson",0.0,28.0,0.0,0.0,113788,35.5000,A6,2.0
24,25,0,3.0,"Palsson, Miss. Torborg Danira",1.0,8.0,3.0,1.0,349909,21.0750,NaN,2.0
25,26,1,3.0,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",1.0,38.0,1.0,5.0,347077,31.3875,NaN,2.0
27,28,0,1.0,"Fortune, Mr. Charles Alexander",0.0,19.0,3.0,2.0,19950,263.0000,C23 C25 C27,2.0
30,31,0,1.0,"Uruchurtu, Don. Manuel E",0.0,40.0,0.0,0.0,PC 17601,27.7208,NaN,0.0
33,34,0,2.0,"Wheadon, Mr. Edward H",0.0,66.0,0.0,0.0,C.A. 24579,10.5000,NaN,2.0
34,35,0,1.0,"Meyer, Mr. Edgar Joseph",0.0,28.0,1.0,0.0,PC 17604,82.1708,NaN,0.0
35,36,0,1.0,"Holverson, Mr. Alexander Oskar",0.0,42.0,1.0,0.0,113789,52.0000,NaN,2.0
37,38,0,3.0,"Cann, Mr. Ernest Charles",0.0,21.0,0.0,0.0,A./5. 2152,8.0500,NaN,2.0
38,39,0,3.0,"Vander Planke, Miss. Augusta Maria",1.0,18.0,2.0,0.0,345764,18.0000,NaN,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...
856,857,1,1.0,"Wick, Mrs. George Dennick (Mary Hitchcock)",1.0,45.0,1.0,1.0,36928,164.8667,NaN,2.0
857,858,1,1.0,"Daly, Mr. Peter Denis",0.0,51.0,0.0,0.0,113055,26.5500,E17,2.0
858,859,1,3.0,"Baclini, Mrs. Solomon (Latifa Qurban)",1.0,24.0,0.0,3.0,2666,19.2583,NaN,0.0
860,861,0,3.0,"Hansen, Mr. Claus Peter",0.0,41.0,2.0,0.0,350026,14.1083,NaN,2.0
861,862,0,2.0,"Giles, Mr. Frederick Edward",0.0,21.0,1.0,0.0,28134,11.5000,NaN,2.0
862,863,1,1.0,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",1.0,48.0,0.0,0.0,17466,25.9292,D17,2.0
864,865,0,2.0,"Gill, Mr. John William",0.0,24.0,0.0,0.0,233866,13.0000,NaN,2.0
865,866,1,2.0,"Bystrom, Mrs. (Karolina)",1.0,42.0,0.0,0.0,236852,13.0000,NaN,2.0
866,867,1,2.0,"Duran y More, Miss. Asuncion",1.0,27.0,1.0,0.0,SC/PARIS 2149,13.8583,NaN,0.0
867,868,0,1.0,"Roebling, Mr. Washington Augustus II",0.0,31.0,0.0,0.0,PC 17590,50.4958,A24,2.0
869,870,1,3.0,"Johnson, Master. Harold Theodor",0.0,4.0,1.0,1.0,347742,11.1333,NaN,2.0
870,871,0,3.0,"Balkic, Mr. Cerin",0.0,26.0,0.0,0.0,349248,7.8958,NaN,2.0
871,872,1,1.0,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",1.0,47.0,1.0,1.0,11751,52.5542,D35,2.0
872,873,0,1.0,"Carlsson, Mr. Frans Olof",0.0,33.0,0.0,0.0,695,5.0000,B51 B53 B55,2.0
873,874,0,3.0,"Vander Cruyssen, Mr. Victor",0.0,47.0,0.0,0.0,345765,9.0000,NaN,2.0
874,875,1,2.0,"Abelson, Mrs. Samuel (Hannah Wizosky)",1.0,28.0,1.0,0.0,P/PP 3381,24.0000,NaN,0.0
875,876,1,3.0,"Najib, Miss. Adele Kiamie ""Jane""",1.0,15.0,0.0,0.0,2667,7.2250,NaN,0.0
876,877,0,3.0,"Gustafsson, Mr. Alfred Ossian",0.0,20.0,0.0,0.0,7534,9.8458,NaN,2.0
877,878,0,3.0,"Petroff, Mr. Nedelio",0.0,19.0,0.0,0.0,349212,7.8958,NaN,2.0
879,880,1,1.0,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",1.0,56.0,0.0,1.0,11767,83.1583,C50,0.0
880,881,1,2.0,"Shelley, Mrs. William (Imanita Parrish Hall)",1.0,25.0,0.0,1.0,230433,26.0000,NaN,2.0
881,882,0,3.0,"Markun, Mr. Johann",0.0,33.0,0.0,0.0,349257,7.8958,NaN,2.0
882,883,0,3.0,"Dahlberg, Miss. Gerda Ulrika",1.0,22.0,0.0,0.0,7552,10.5167,NaN,2.0
883,884,0,2.0,"Banfield, Mr. Frederick James",0.0,28.0,0.0,0.0,C.A./SOTON 34068,10.5000,NaN,2.0
884,885,0,3.0,"Sutehall, Mr. Henry Jr",0.0,25.0,0.0,0.0,SOTON/OQ 392076,7.0500,NaN,2.0
885,886,0,3.0,"Rice, Mrs. William (Margaret Norton)",1.0,39.0,0.0,5.0,382652,29.1250,NaN,1.0
886,887,0,2.0,"Montvila, Rev. Juozas",0.0,27.0,0.0,0.0,211536,13.0000,NaN,2.0
887,888,1,1.0,"Graham, Miss. Margaret Edith",1.0,19.0,0.0,0.0,112053,30.0000,B42,2.0
889,890,1,1.0,"Behr, Mr. Karl Howell",0.0,26.0,0.0,0.0,111369,30.0000,C148,0.0
890,891,0,3.0,"Dooley, Mr. Patrick",0.0,32.0,0.0,0.0,370376,7.7500,NaN,1.0

In [17]:
X = df[['Pclass','Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']]
X

     Pclass  Sex   Age  SibSp  Parch      Fare  Embarked
0       3.0  0.0  22.0    1.0    0.0    7.2500       2.0
1       1.0  1.0  38.0    1.0    0.0   71.2833       0.0
2       3.0  1.0  26.0    0.0    0.0    7.9250       2.0
3       1.0  1.0  35.0    1.0    0.0   53.1000       2.0
4       3.0  0.0  35.0    0.0    0.0    8.0500       2.0
6       1.0  0.0  54.0    0.0    0.0   51.8625       2.0
7       3.0  0.0   2.0    3.0    1.0   21.0750       2.0
8       3.0  1.0  27.0    0.0    2.0   11.1333       2.0
9       2.0  1.0  14.0    1.0    0.0   30.0708       0.0
10      3.0  1.0   4.0    1.0    1.0   16.7000       2.0
11      1.0  1.0  58.0    0.0    0.0   26.5500       2.0
12      3.0  0.0  20.0    0.0    0.0    8.0500       2.0
13      3.0  0.0  39.0    1.0    5.0   31.2750       2.0
14      3.0  1.0  14.0    0.0    0.0    7.8542       2.0
15      2.0  1.0  55.0    0.0    0.0   16.0000       2.0
16      3.0  0.0   2.0    4.0    1.0   29.1250       1.0
18      3.0  1.0  31.0    1.0    0.0   18.0000       2.0
20      2.0  0.0  35.0    0.0    0.0   26.0000       2.0
21      2.0  0.0  34.0    0.0    0.0   13.0000       2.0
22      3.0  1.0  15.0    0.0    0.0    8.0292       1.0
23      1.0  0.0  28.0    0.0    0.0   35.5000       2.0
24      3.0  1.0   8.0    3.0    1.0   21.0750       2.0
25      3.0  1.0  38.0    1.0    5.0   31.3875       2.0
27      1.0  0.0  19.0    3.0    2.0  263.0000       2.0
30      1.0  0.0  40.0    0.0    0.0   27.7208       0.0
33      2.0  0.0  66.0    0.0    0.0   10.5000       2.0
34      1.0  0.0  28.0    1.0    0.0   82.1708       0.0
35      1.0  0.0  42.0    1.0    0.0   52.0000       2.0
37      3.0  0.0  21.0    0.0    0.0    8.0500       2.0
38      3.0  1.0  18.0    2.0    0.0   18.0000       2.0
..      ...  ...   ...    ...    ...       ...       ...
856     1.0  1.0  45.0    1.0    1.0  164.8667       2.0
857     1.0  0.0  51.0    0.0    0.0   26.5500       2.0
858     3.0  1.0  24.0    0.0    3.0   19.2583       0.0
860     3.0  0.0  41.0    2.0    0.0   14.1083       2.0
861     2.0  0.0  21.0    1.0    0.0   11.5000       2.0
862     1.0  1.0  48.0    0.0    0.0   25.9292       2.0
864     2.0  0.0  24.0    0.0    0.0   13.0000       2.0
865     2.0  1.0  42.0    0.0    0.0   13.0000       2.0
866     2.0  1.0  27.0    1.0    0.0   13.8583       0.0
867     1.0  0.0  31.0    0.0    0.0   50.4958       2.0
869     3.0  0.0   4.0    1.0    1.0   11.1333       2.0
870     3.0  0.0  26.0    0.0    0.0    7.8958       2.0
871     1.0  1.0  47.0    1.0    1.0   52.5542       2.0
872     1.0  0.0  33.0    0.0    0.0    5.0000       2.0
873     3.0  0.0  47.0    0.0    0.0    9.0000       2.0
874     2.0  1.0  28.0    1.0    0.0   24.0000       0.0
875     3.0  1.0  15.0    0.0    0.0    7.2250       0.0
876     3.0  0.0  20.0    0.0    0.0    9.8458       2.0
877     3.0  0.0  19.0    0.0    0.0    7.8958       2.0
879     1.0  1.0  56.0    0.0    1.0   83.1583       0.0
880     2.0  1.0  25.0    0.0    1.0   26.0000       2.0
881     3.0  0.0  33.0    0.0    0.0    7.8958       2.0
882     3.0  1.0  22.0    0.0    0.0   10.5167       2.0
883     2.0  0.0  28.0    0.0    0.0   10.5000       2.0
884     3.0  0.0  25.0    0.0    0.0    7.0500       2.0
885     3.0  1.0  39.0    0.0    5.0   29.1250       1.0
886     2.0  0.0  27.0    0.0    0.0   13.0000       2.0
887     1.0  1.0  19.0    0.0    0.0   30.0000       2.0
889     1.0  0.0  26.0    0.0    0.0   30.0000       0.0
890     3.0  0.0  32.0    0.0    0.0    7.7500       1.0

[712 rows x 7 columns]

In [18]:
y = df['Survived']
y

0      0
1      1
2      1
3      1
4      0
6      0
7      0
8      1
9      1
10     1
11     1
12     0
13     0
14     0
15     1
16     0
18     0
20     0
21     1
22     1
23     1
24     0
25     1
27     0
30     0
33     0
34     0
35     0
37     0
38     0
      ..
856    1
857    1
858    1
860    0
861    0
862    1
864    0
865    1
866    1
867    0
869    1
870    0
871    1
872    0
873    0
874    1
875    1
876    0
877    0
879    1
880    1
881    0
882    0
883    0
884    0
885    0
886    0
887    1
889    1
890    0
Name: Survived, Length: 712, dtype: int64

In [19]:
print(X.shape)
print(y.shape)
print(X)
print(y)

(712, 7)
(712,)
     Pclass  Sex   Age  SibSp  Parch      Fare  Embarked
0       3.0  0.0  22.0    1.0    0.0    7.2500       2.0
1       1.0  1.0  38.0    1.0    0.0   71.2833       0.0
2       3.0  1.0  26.0    0.0    0.0    7.9250       2.0
3       1.0  1.0  35.0    1.0    0.0   53.1000       2.0
4       3.0  0.0  35.0    0.0    0.0    8.0500       2.0
6       1.0  0.0  54.0    0.0    0.0   51.8625       2.0
7       3.0  0.0   2.0    3.0    1.0   21.0750       2.0
8       3.0  1.0  27.0    0.0    2.0   11.1333       2.0
9       2.0  1.0  14.0    1.0    0.0   30.0708       0.0
10      3.0  1.0   4.0    1.0    1.0   16.7000       2.0
11      1.0  1.0  58.0    0.0    0.0   26.5500       2.0
12      3.0  0.0  20.0    0.0    0.0    8.0500       2.0
13      3.0  0.0  39.0    1.0    5.0   31.2750       2.0
14      3.0  1.0  14.0    0.0    0.0    7.8542       2.0
15      2.0  1.0  55.0    0.0    0.0   16.0000       2.0
16      3.0  0.0   2.0    4.0    1.0   29.1250       1.0
18      3.0  1.0  31.0    1.0    0.0   18.0000       2.0
20      2.0  0.0  35.0    0.0    0.0   26.0000       2.0
21      2.0  0.0  34.0    0.0    0.0   13.0000       2.0
22      3.0  1.0  15.0    0.0    0.0    8.0292       1.0
23      1.0  0.0  28.0    0.0    0.0   35.5000       2.0
24      3.0  1.0   8.0    3.0    1.0   21.0750       2.0
25      3.0  1.0  38.0    1.0    5.0   31.3875       2.0
27      1.0  0.0  19.0    3.0    2.0  263.0000       2.0
30      1.0  0.0  40.0    0.0    0.0   27.7208       0.0
33      2.0  0.0  66.0    0.0    0.0   10.5000       2.0
34      1.0  0.0  28.0    1.0    0.0   82.1708       0.0
35      1.0  0.0  42.0    1.0    0.0   52.0000       2.0
37      3.0  0.0  21.0    0.0    0.0    8.0500       2.0
38      3.0  1.0  18.0    2.0    0.0   18.0000       2.0
..      ...  ...   ...    ...    ...       ...       ...
856     1.0  1.0  45.0    1.0    1.0  164.8667       2.0
857     1.0  0.0  51.0    0.0    0.0   26.5500       2.0
858     3.0  1.0  24.0    0.0    3.0   19.2583       0.0
860     3.0  0.0  41.0    2.0    0.0   14.1083       2.0
861     2.0  0.0  21.0    1.0    0.0   11.5000       2.0
862     1.0  1.0  48.0    0.0    0.0   25.9292       2.0
864     2.0  0.0  24.0    0.0    0.0   13.0000       2.0
865     2.0  1.0  42.0    0.0    0.0   13.0000       2.0
866     2.0  1.0  27.0    1.0    0.0   13.8583       0.0
867     1.0  0.0  31.0    0.0    0.0   50.4958       2.0
869     3.0  0.0   4.0    1.0    1.0   11.1333       2.0
870     3.0  0.0  26.0    0.0    0.0    7.8958       2.0
871     1.0  1.0  47.0    1.0    1.0   52.5542       2.0
872     1.0  0.0  33.0    0.0    0.0    5.0000       2.0
873     3.0  0.0  47.0    0.0    0.0    9.0000       2.0
874     2.0  1.0  28.0    1.0    0.0   24.0000       0.0
875     3.0  1.0  15.0    0.0    0.0    7.2250       0.0
876     3.0  0.0  20.0    0.0    0.0    9.8458       2.0
877     3.0  0.0  19.0    0.0    0.0    7.8958       2.0
879     1.0  1.0  56.0    0.0    1.0   83.1583       0.0
880     2.0  1.0  25.0    0.0    1.0   26.0000       2.0
881     3.0  0.0  33.0    0.0    0.0    7.8958       2.0
882     3.0  1.0  22.0    0.0    0.0   10.5167       2.0
883     2.0  0.0  28.0    0.0    0.0   10.5000       2.0
884     3.0  0.0  25.0    0.0    0.0    7.0500       2.0
885     3.0  1.0  39.0    0.0    5.0   29.1250       1.0
886     2.0  0.0  27.0    0.0    0.0   13.0000       2.0
887     1.0  1.0  19.0    0.0    0.0   30.0000       2.0
889     1.0  0.0  26.0    0.0    0.0   30.0000       0.0
890     3.0  0.0  32.0    0.0    0.0    7.7500       1.0

[712 rows x 7 columns]
0      0
1      1
2      1
3      1
4      0
6      0
7      0
8      1
9      1
10     1
11     1
12     0
13     0
14     0
15     1
16     0
18     0
20     0
21     1
22     1
23     1
24     0
25     1
27     0
30     0
33     0
34     0
35     0
37     0
38     0
      ..
856    1
857    1
858    1
860    0
861    0
862    1
864    0
865    1
866    1
867    0
869    1
870    0
871    1
872    0
873    0
874    1
875    1
876    0
877    0
879    1
880    1
881    0
882    0
883    0
884    0
885    0
886    0
887    1
889    1
890    0
Name: Survived, Length: 712, dtype: int64

In [20]:
# トレーニングデータとテストデータの分割の為の関数をインストール
from sklearn.cross_validation import train_test_split
# トレーニングデータとテストデータを70%:30%の割合で分割
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

/root/.pyenv/versions/anaconda3-5.0.0/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [21]:
# トレーニングデータのshapeを確認
print(X_train.shape)
print(y_train.shape)
# テストデータのshapeを確認
print(X_test.shape)
print(y_test.shape)

(498, 7)
(498,)
(214, 7)
(214,)

In [22]:
# ライブラリの読み込み
from sklearn.linear_model import LogisticRegression

In [23]:
# ロジスティック回帰のインスタンスを生成
lr = LogisticRegression()
# トレーニングデータをモデルに適合する
lr.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [24]:
y_p = lr.predict(X_test)

In [25]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_p)

array([[116,  16],
       [ 36,  46]])

In [26]:
print('誤分類の個数：',  (y_test != y_p).sum())

誤分類の個数： 52

In [27]:
# 特徴量毎の重みを出力
print(lr.coef_)
# 切片を出力
print(lr.intercept_)

[[-0.89263992  2.59343561 -0.03305089 -0.35596839 -0.11619453  0.00411881
  -0.06148279]]
[ 1.64025383]

In [28]:
from sklearn.metrics import accuracy_score
print('正答率:', accuracy_score(y_test, y_p))

正答率: 0.757009345794

In [29]:
# 必要なライブラリのインポート
from sklearn.cross_validation import train_test_split
import numpy as np

In [30]:
X = df[['Pclass','Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']]
X

     Pclass  Sex   Age  SibSp  Parch      Fare  Embarked
0       3.0  0.0  22.0    1.0    0.0    7.2500       2.0
1       1.0  1.0  38.0    1.0    0.0   71.2833       0.0
2       3.0  1.0  26.0    0.0    0.0    7.9250       2.0
3       1.0  1.0  35.0    1.0    0.0   53.1000       2.0
4       3.0  0.0  35.0    0.0    0.0    8.0500       2.0
6       1.0  0.0  54.0    0.0    0.0   51.8625       2.0
7       3.0  0.0   2.0    3.0    1.0   21.0750       2.0
8       3.0  1.0  27.0    0.0    2.0   11.1333       2.0
9       2.0  1.0  14.0    1.0    0.0   30.0708       0.0
10      3.0  1.0   4.0    1.0    1.0   16.7000       2.0
11      1.0  1.0  58.0    0.0    0.0   26.5500       2.0
12      3.0  0.0  20.0    0.0    0.0    8.0500       2.0
13      3.0  0.0  39.0    1.0    5.0   31.2750       2.0
14      3.0  1.0  14.0    0.0    0.0    7.8542       2.0
15      2.0  1.0  55.0    0.0    0.0   16.0000       2.0
16      3.0  0.0   2.0    4.0    1.0   29.1250       1.0
18      3.0  1.0  31.0    1.0    0.0   18.0000       2.0
20      2.0  0.0  35.0    0.0    0.0   26.0000       2.0
21      2.0  0.0  34.0    0.0    0.0   13.0000       2.0
22      3.0  1.0  15.0    0.0    0.0    8.0292       1.0
23      1.0  0.0  28.0    0.0    0.0   35.5000       2.0
24      3.0  1.0   8.0    3.0    1.0   21.0750       2.0
25      3.0  1.0  38.0    1.0    5.0   31.3875       2.0
27      1.0  0.0  19.0    3.0    2.0  263.0000       2.0
30      1.0  0.0  40.0    0.0    0.0   27.7208       0.0
33      2.0  0.0  66.0    0.0    0.0   10.5000       2.0
34      1.0  0.0  28.0    1.0    0.0   82.1708       0.0
35      1.0  0.0  42.0    1.0    0.0   52.0000       2.0
37      3.0  0.0  21.0    0.0    0.0    8.0500       2.0
38      3.0  1.0  18.0    2.0    0.0   18.0000       2.0
..      ...  ...   ...    ...    ...       ...       ...
856     1.0  1.0  45.0    1.0    1.0  164.8667       2.0
857     1.0  0.0  51.0    0.0    0.0   26.5500       2.0
858     3.0  1.0  24.0    0.0    3.0   19.2583       0.0
860     3.0  0.0  41.0    2.0    0.0   14.1083       2.0
861     2.0  0.0  21.0    1.0    0.0   11.5000       2.0
862     1.0  1.0  48.0    0.0    0.0   25.9292       2.0
864     2.0  0.0  24.0    0.0    0.0   13.0000       2.0
865     2.0  1.0  42.0    0.0    0.0   13.0000       2.0
866     2.0  1.0  27.0    1.0    0.0   13.8583       0.0
867     1.0  0.0  31.0    0.0    0.0   50.4958       2.0
869     3.0  0.0   4.0    1.0    1.0   11.1333       2.0
870     3.0  0.0  26.0    0.0    0.0    7.8958       2.0
871     1.0  1.0  47.0    1.0    1.0   52.5542       2.0
872     1.0  0.0  33.0    0.0    0.0    5.0000       2.0
873     3.0  0.0  47.0    0.0    0.0    9.0000       2.0
874     2.0  1.0  28.0    1.0    0.0   24.0000       0.0
875     3.0  1.0  15.0    0.0    0.0    7.2250       0.0
876     3.0  0.0  20.0    0.0    0.0    9.8458       2.0
877     3.0  0.0  19.0    0.0    0.0    7.8958       2.0
879     1.0  1.0  56.0    0.0    1.0   83.1583       0.0
880     2.0  1.0  25.0    0.0    1.0   26.0000       2.0
881     3.0  0.0  33.0    0.0    0.0    7.8958       2.0
882     3.0  1.0  22.0    0.0    0.0   10.5167       2.0
883     2.0  0.0  28.0    0.0    0.0   10.5000       2.0
884     3.0  0.0  25.0    0.0    0.0    7.0500       2.0
885     3.0  1.0  39.0    0.0    5.0   29.1250       1.0
886     2.0  0.0  27.0    0.0    0.0   13.0000       2.0
887     1.0  1.0  19.0    0.0    0.0   30.0000       2.0
889     1.0  0.0  26.0    0.0    0.0   30.0000       0.0
890     3.0  0.0  32.0    0.0    0.0    7.7500       1.0

[712 rows x 7 columns]

In [31]:
y = df['Survived']
y

0      0
1      1
2      1
3      1
4      0
6      0
7      0
8      1
9      1
10     1
11     1
12     0
13     0
14     0
15     1
16     0
18     0
20     0
21     1
22     1
23     1
24     0
25     1
27     0
30     0
33     0
34     0
35     0
37     0
38     0
      ..
856    1
857    1
858    1
860    0
861    0
862    1
864    0
865    1
866    1
867    0
869    1
870    0
871    1
872    0
873    0
874    1
875    1
876    0
877    0
879    1
880    1
881    0
882    0
883    0
884    0
885    0
886    0
887    1
889    1
890    0
Name: Survived, Length: 712, dtype: int64

In [32]:
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4)

print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(427, 7)
(285, 7)
(427,)
(285,)

In [33]:
# ライブラリの読み込み
from sklearn.svm import SVC

In [34]:
# SVMモデルのインスタンスを生成
svm = SVC(kernel='linear')

In [35]:
# SVMのモデルにトレーニングデータセットを適合させる
svm.fit(X_train, y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='linear',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [36]:
# 正答率計算用のモジュールを読み込み
from sklearn.metrics import accuracy_score
# 予測結果を変数に代入
y_predicted = svm.predict(X_test)
# 正答率を算出
print('正答率', accuracy_score(y_test, y_predicted))

正答率 0.771929824561

In [37]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_predicted)

array([[140,  26],
       [ 39,  80]])

In [38]:
# カーネルSVMを使用した場合の正解率
svm = SVC(kernel='rbf')
svm.fit(X_train, y_train)
y_predicted = svm.predict(X_test)
print('カーネルSVMの正答率', accuracy_score(y_test, y_predicted))

カーネルSVMの正答率 0.645614035088

In [39]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_predicted)

array([[147,  19],
       [ 82,  37]])